**/node_modules
**/Dockerfile*
**/.dockerignore*
**/docker-compose*.yml
**/build
**/.gitignore
**/DockerBuild.bat
node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode